.detailed-view-heading {
    color: white;
    font-size: 52px;
    font-family: 'roboto';
    font-weight: bold;
    padding: 24px;
}

.detailed-view-bg-container {
    background-image: url(detailbg1.jpeg);
    background-size: cover;
    height: 100vh;
    
}

.detailed-view-card-container {
    background-color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 24px;
    background-color: transparent;

}

.custom-img {
    width: 50%;
    height: 55vh;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 0;
}

.detailed-view-card-heading {
    color: #0213fe;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 43px;
}

.detailed-view-card-description {
    font-family: 'roboto';
    font-size: 20px;
    color: #030303;
}

.detailed-view-card-text-container {
    padding: 30px;
}
